// colors
$off-black: #20222b;
$off-white: #a5afd7;
$blue: #3c4251;
$lightblue: #464b5e;
$bodycolor: #333746;
$purple: #8357c5;

// font-sizing
$s-size: 1.3rem;
$msize: 1.7rem;
$lsize: 2.7rem;
$xsize: 3.7rem;

// spacing
$mobile-breakpoint: 45rem;